*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.head{
	text-align: center;
	overflow: hidden;
	width: 100vw;
	padding: 10px 10px;
}
.head button{
	width: 300px;
	height: 50px;
	cursor: pointer;
	font-size: 30px;
}
.container {
	display: flex;
	width: 100vw;
	overflow: hidden;
	flex-wrap: wrap;
}
.container .box{
	width: 20%;
	height: 20vw;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	cursor: pointer;
	overflow: hidden;
}


.copyScreen{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	display: flex;
	transform: scale(1);
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2rem;
	animation: zoom .1s linear;
}

@keyframes zoom{
	0%{
		transform: scale(3);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@media (max-width: 552px){
	.container .box{
		width: calc(100% / 3);
		height: calc(100vw / 3);
	}
}